body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  body::-webkit-scrollbar{
    background-color: red;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #747577;
  }
    
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
     
  .logo-container img {
    width: 276px;
  }
    
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
  }
    
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
    
    
  
  .menu-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 600px; /* Ajusta el margen derecho según sea necesario */
    }
    
  .menu-options a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
    transition: background-color 0.3s ease;
    margin-right: 50px;
  }
    
    .menu-options a:hover {
      background-color: orange;
      text-decoration: underline;
    }   
    
    /* Agregamos estilos para el submenú */
    .services-menu {
      position: relative;
    }
    
    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: -50%;
      background-color: #333;
      width: 300px;
      z-index: 3;
      white-space: nowrap;
    }
    
    .services-menu:hover .submenu {
      display: flex;
      flex-direction: column;
    }
    
    .submenu a {
      padding: 10px;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
      border-bottom: 2px solid white;
    }
    
    .submenu a:hover {
      background-color: #555;
    }
    
    /* Evita que el submenú se oculte cuando el cursor está sobre él */
    .submenu:hover {
      display: flex;
    }
    
    
    .menu-options a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      transition: background-color 0.3s ease;
      font-size: 20px;      
    }
    
    .menu-options a:hover {
      background-color: orange;
      text-decoration: underline;
    }
    .active {
      background-color:red;
    }
    .submenu-indicator{
      color:white;
    }
    .img-container {
      position: relative;
      z-index: -1;
    }
    /*whaapp*/
    .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }
    
    .whatsapp-icon img {
      width: 80px;
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }
    .whatsapp-icon img:hover {
      transform: scale(1.1);
    }
  /*oficina-virtual-bogota*/

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 100px;
  }
  
  .overlay-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .overlay-text p{
    color: white;
    font-size: 20px;
  }
  
  .overlay-text ul {
    font-size: 30px;
    margin: 5px 0;
    text-align: justify;
  }
  .puntos::before {
    content: "\2713"; /* Unicode para la marca de verificación */
    color: green; /* Color verde */
    margin-right: 10px; /* Espacio entre la marca de verificación y el texto */
    font-size: 40px;
  }
  .overlay-text button {
    margin-right: 10px;
    background-color: red;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    color: white;    
  }
  .overlay-text button a{
    text-decoration: none;
    color: white;
  }
  .overlay-text button:hover{
    background-color: #747577;
  }
  .boton-agrandable {
    padding: 10px 20px; /* Tamaño inicial del botón */
    font-size: 16px; /* Tamaño inicial del texto */
    transition: all 0.3s ease; /* Transición suave para el efecto */
  }
  
  .boton-agrandable:hover {
    padding: 15px 25px; /* Tamaño del botón al pasar el cursor por encima */
    font-size: 30px; /* Tamaño del texto al pasar el cursor por encima */
  }
  /*.overlay-text button:last-child {
    background-color: #747577; 
    color: white; 
  }
  .overlay-text button:last-child:hover{
    background-color: red;
  }*/
  .titulo2{
    text-align: center;
    font-size: 50px;
  }
  .gray{
    color: #747577;
  }
  .red{
    color: red;
  }
  .servicio-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
  }
  
  .servicio-text {
    width: 60%; /* Ajusta el ancho del texto según sea necesario */
    font-size: 25px;
    padding: 0 100px;
    text-align: justify;
  }
  
  .servicio-imagen img {
    width: 850px; /* La imagen ocupa el 100% del contenedor */
    height: 550px; /* Mantiene la proporción original de la imagen */
    border-radius: 500px 10px 10px 50px; /* Añade bordes redondeados si lo deseas */
  }
  .servicio-text a {
    text-decoration: none;
  }
  .servicio-text button {   
    background-color: red;
    font-size: 25px;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    color: white;
    cursor: pointer;
  }
  .servicio-text button:hover{
    background-color: #747577;
  }
  .fondo-gray{
    background-color: #F3F3F3;
  }

  /*columna 5*/
  .fondo-columna4{
    background-color: black;
  }

  .titulo-columna4{
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), /* Rojo claro con transparencia */
               0 0 20px rgba(255, 0, 0, 0.5),
               0 0 30px rgba(255, 0, 0, 0.5),
               0 0 40px rgba(255, 0, 0, 0.5),
               0 0 70px rgba(255, 0, 0, 0.5),
               0 0 80px rgba(255, 0, 0, 0.5),
               0 0 100px rgba(255, 0, 0, 0.5),
               0 0 150px rgba(255, 0, 0, 0.5);
  }
  

  .columnas-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

  .columna {
    flex-basis: 18%; /* Ajusta el ancho de cada columna según sea necesario */
    text-align: center;
    border: 1px solid white;
    height: 300px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
  }

  .icon {
    font-size: 60px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 30px;
    margin: 10px 0;
  }

  p {
    font-size: 25px;
    color: #747577;
  }
  .columnas-container a {
    text-decoration: none;
  }
   /*3 columnas*/

   .nuevas-columnas-container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }

  .nueva-columna {
    flex-basis: 25%; /* Ajusta el ancho de cada nueva columna según sea necesario */
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 50px;
  }
  .titulo-planes{
    color: red;
    text-align: center;
    font-size: 50px;
  }

  .nueva-columna h3 {
    font-size: 20px;
    margin: 10px 0;
    background-color: #555;
    padding: 50px;
  }

  .nueva-columna ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
  }

  .nueva-columna ul li {
    font-size: 16px;
    color: #747577;
    margin-bottom: 5px;
  }

  .nueva-columna button {
    margin-top: 10px;
    background-color: red;
    font-size: 16px;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: white;
    cursor: pointer;
  }

  .nueva-columna button:hover {
    background-color: #747577;
  }
  .puntos::before {
    content: "\2713"; /* Unicode para la marca de verificación */
    color: green; /* Color verde */
    margin-right: 10px; /* Espacio entre la marca de verificación y el texto */
    font-size: 40px;
  }
  
  /* Estilos para la sección con imagen de fondo y texto centrado */
.background-image {
  position: relative;
  width: 100%;
  height: 100vh; /* 100% del viewport height */
  overflow: hidden;
}

.background-image img {
  width: 100%;
  height: 70%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo oscuro con opacidad */
  padding: 30px;
  width: 80%;
  border-radius: 50px;
}

.overlay h2 {
  font-size: 50px;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.2), /* Dorado claro con transparencia */
             0 0 20px rgba(255, 215, 0, 0.2),
             0 0 30px rgba(255, 215, 0, 0.2),
             0 0 40px rgba(255, 215, 0, 0.2),
             0 0 70px rgba(255, 215, 0, 0.2),
             0 0 80px rgba(255, 215, 0, 0.2),
             0 0 100px rgba(255, 215, 0, 0.2),
             0 0 150px rgba(255, 215, 0, 0.2);
}

.overlay p {
  font-size: 25px;
  color: white;
  text-align: justify;
}

.overlay button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  width: 220px;
  height: 80px;
}

.overlay button:hover {
  background-color: #747577;
  /*padding: 15px 25px; Tamaño del botón al pasar el cursor por encima 
  font-size: 30px; Tamaño del texto al pasar el cursor por encima */
}
/* Estilos para las dos secciones */
.two-sections {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

/* Estilos para la sección izquierda con mapa */
.map-section {
  flex-basis: 48%; /* Ajusta el ancho de la sección izquierda según sea necesario */
}
.fondo-gris{
  background-color: #A1A1A2;
  padding: 250px 0 150px 0;
}

.map-container {
  text-align: center;
}

/* Estilos para la sección derecha con texto y botón */
.titulo-maps{
  text-align: center;
  color: red;
  font-size: 50px;
  margin-top: -200px;
}
.text-section {
  flex-basis: 48%; /* Ajusta el ancho de la sección derecha según sea necesario */
}

.text-container {
  text-align: center;
}

.text-container h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: red;
}

.text-container p {
  font-size: 20px;
  text-align: justify;
  padding: 10px 100px 0 10px;
  color: white;
}

.text-container button {
  padding: 10px 20px;
  font-size: 25px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 70px;
  border-radius: 50px;
}

.text-container button:hover {
  background-color:orange;
}
.lista-interes {
  font-size: 18px; /* Ajusta el tamaño de la letra según sea necesario */
  color: white; /* Puedes ajustar el color del texto también */
  list-style-type: none; /* Quita el estilo predeterminado de la lista desordenada */
  padding: 0; /* Elimina cualquier relleno predeterminado en la lista */
  text-align: justify;
  padding: 20px;
}

.lista-interes li {
  margin-bottom: 10px; /* Ajusta la separación vertical entre elementos según sea necesario */
}

.lista-interes li::before {
  content: "\2022"; /* Código Unicode para un punto de lista */
  color: red; /* Puedes ajustar el color del punto */
  font-size: 35px; /* Ajusta el tamaño del punto según sea necesario */
  display: inline-block;
  width: 1em; /* Ajusta el ancho del punto */
  margin-left: -1.5em; /* Ajusta el margen izquierdo para alinear el punto con el texto */
  text-align: right; /* Alinea el punto a la derecha del espacio designado */
  padding-right: 0.5em; /* Ajusta el espacio entre el punto y el texto */
}
/*carrusel*/
.titulo-carrusel1{
  text-align: center;
  color: #747577;
  font-size: 50px;
  font-weight: bold;
}
.rojo{
  color: red;
}
/* Estilos para el carrusel de imágenes */
.image-carousel {
  width: 80%;
  margin: 0 auto;
  position: relative; /* Añadido para el posicionamiento relativo */
}
.image-carousel .carousel-item {
  position: relative;
}

/* Estilos para cada slide del carrusel */
.image-carousel div {
  text-align: center;
}

.image-carousel img {
  width: 150%;
  height: 800px; /* Ajusta la altura máxima según sea necesario */
  object-fit: cover;
  border-radius: 8px;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Ajusta el color del texto según sea necesario */
  z-index: 1; /* Asegura que esté sobre la imagen */
  background-color:rgba(0, 0, 0, 0.5);
}

.image-carousel h3 {
  font-size: 35px;
  margin: 10px 0;
  color: white; /* Cambia el color del título según sea necesario */
}

.image-carousel p {
  font-size: 23px;
  color: white; /* Cambia el color del texto según sea necesario */
}

/* Estilos para los puntos indicadores del carrusel */
.slick-dots {
  bottom: -30px;
  color: red;
}
.slick-dots li button:before {
  font-size: 50px;
  color: red; /* Cambia el color de los puntos según sea necesario */
}
.image-carousel button {
  padding: 15px 100px;
  font-size: 18px;  
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 5;
}
.btn-carrusel{
  background-color: red;
  color: white;
  font-size: 25px;
  border-radius: 20px;
  width: 350px;
  height: 60px;
  cursor: pointer;
}
.btn-carrusel:hover{
  background-color: #747577;
}
/*3 columnas y una imagen*/
/* Estilos para la sección de Servicios de interés */
.servicios-interes {
  text-align: center;
  margin-top: 50px;
  padding: 50px 0;
}

.fondo-servicios-interes {
  background-color: #F6F6F6;
}

.servicios-interes h2 {
  color: #747577;
  font-size: 50px;
}

/* Estilos para el contenedor de las columnas */
.columnas-container-columna3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Añadido para manejar el ajuste en pantallas pequeñas */
}

/* Estilos para las columnas de servicios */
.servicio-columna {
  width: 350px;
  margin: 20px;
}

.servicio-columna img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease; /* Efecto de transición al hacer hover en la imagen */
}

.servicio-columna:hover img {
  transform: scale(1.1); /* Aumentar el tamaño al hacer hover */
  color: #747577;
  cursor: pointer;
}

.servicio-columna h3 {
  font-size: 35px;
  margin-top: 10px;
  color: red;
}
.servicio-columna h3:hover{
  color: #747577;
}

.servicio-columna p {
  font-size: 20px;
  color: #666;
}

.servicio-columna button {
  padding: 10px 15px;
  font-size: 20px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.servicio-columna button:hover {
  background-color: #747577;
}
/* Preguntas plegables */
.faq-container {    
  max-width: 80%; /* Cambiado de 800px a 80% */
  margin: 5% auto 0 auto; /* Cambiado de 50px a 5% */
  padding: 2%; /* Cambiado de 2rem a 2% */
}

.faq-container h2 {
  margin-bottom: 5%; /* Cambiado de 50px a 5% */
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: red;
}

details { 
  background-color: #f6f8fa;
  width: 100%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #d8e0e9;
  color: #364f6b;
  position: relative;  
}

details summary {  
  font-weight: 400;
  font-size: 35px;
  padding: 1%;
  cursor: pointer;
  list-style: none;
}

details p {
  padding: 1%;
  margin: 0 1% 1% 1%;
  background: #f6f8fa;
  border-left: 2px solid #364f6b;
  font-size: 35px;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}
details[open] summary {
  font-weight: 600;
  color: red;
}

details[open] {
  background: #ffffff;
}

details[open] summary {
  font-weight: 600;
}

details summary::before {
  position: absolute;
  content: "👇";    
  font-size: 1.75rem;
  top: 10px;
  right: 16px;  
}

details[open] summary::before {
  -webkit-animation: rotate 0.6s ease-in-out both;
  animation: rotate-emoji 0.6s ease-in-out both;
}

.faq-container a {
  text-decoration: none;
}

@-webkit-keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
/*Formulario*/
.background-image {
  position: relative;
  width: 100%;
  height: 100vh; /* 100% del viewport height */
  overflow: hidden;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca la imagen detrás del contenido */
}
.blanco{
  color: white;
}

/* Estilos para el formulario */
.formulario-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.2); /* Fondo blanco semi-transparente */
  padding: 30px;
  border-radius: 50px;
  z-index: 1; /* Asegura que esté sobre la imagen de fondo */
}
.formulario-container h2{
  font-size: 35px;
}

.formulario-container label {
  display: block;
  margin: 15px 0;
}

.formulario-container input,
.formulario-container select,
.formulario-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formulario-container button {
  padding: 15px 200px;
  font-size: 20px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}

.formulario-container button:hover {
  background-color: #747577;
}

/* Modificación para el posicionamiento del texto y el checkbox */
.checkbox-container {
  text-align: left;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  color: white; /* Color blanco para el texto */
  margin-right: 800px; /* Ajuste del margen derecho para acercar el texto al checkbox */
  white-space: nowrap;
}

/*fotter*/

.fondo-fotter{
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 50px;           
}

/* Estilo del contenedor principal */
.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Estilo de cada columna */
.column-footer {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
}

.pie {
  text-align: center;
}

/* Estilo para los íconos */
.iconos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icono {
  font-size: 50px;
  margin: 0 10px;
  color: white;
}
.column-footer a {
text-decoration: none; /* Quitar la línea de abajo */
color: white; /* Cambiar el color del texto a blanco */
}

  @media screen and (max-width: 768px) {
      .menu-toggle {
        display: flex;
  }
    
      .menu-options {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        margin-top: 40px;
        z-index: 2;
      }
    
      .menu-options a {
        margin: 0;
      }
      .video-text p {
          font-size: 20px;
          margin: 0;
        }
    
      .menu-options.active {
        display: flex;
        border-top: 1px solid white;
      }
    
      .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .menu-toggle.active span:nth-child(2) {
        opacity: 0;
      }
    
      .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
      
      /*oficina-virtual-bogota*/

      .overlay-text {
        position: absolute;
        top: 55%; /* Ajusta este valor para posicionar el texto más arriba */
        left: 50%;                
        z-index: 1;        
        padding: 25px;
        width: 80%; /* Ajusta el ancho del texto según sea necesario */
      }
    
      .overlay-text h1 {
        font-size: 30px; /* Ajusta el tamaño del texto */
        margin-bottom: 10px;
      }
    
      .overlay-text ul {
        font-size: 18px; /* Ajusta el tamaño de la lista */
        margin: 5px 0;
      }
    
      .overlay-text button {
        margin-bottom: 10px; /* Ajusta el margen según sea necesario */
        width: 100%; /* Hace que el botón ocupe el ancho completo */
      }
      .servicio-info {
        flex-direction: column; /* Cambia la dirección del contenedor flex a columna */
        text-align: center; /* Centra el contenido en la pantalla pequeña */
    }

    .servicio-text {
        width: 80%; /* Ajusta el ancho del texto al 80% del contenedor */
        padding: 0; /* Elimina el relleno en los lados para ocupar el ancho especificado */
        margin: 0 auto 20px auto; /* Centra el texto horizontalmente y agrega un margen inferior */
    }

    .servicio-imagen img {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% */
        height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
        border-radius: 500px 10px 10px 50px;
    }
    /*columna 5*/

    .columnas-container {
        flex-direction: column; /* Cambia la dirección del contenedor flex a columna */
        align-items: center; /* Centra las columnas horizontalmente en la pantalla pequeña */
        margin-left: 15px;
      }
  
      .columna {
        flex-basis: 80%; /* Ajusta el ancho de cada columna según sea necesario */
        margin-bottom: 20px; /* Agrega un margen inferior entre las columnas */
      }

      /*3 columnas*/
      .columnas-container {
        flex-direction: column;
        align-items: center;
      }
    
      .columna {
        flex-basis: 200%;
        margin-bottom: 20px;
      }
    
      /* Agrega estilos para las nuevas columnas que mencionaste */
      .nuevas-columnas-container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px; /* Puedes ajustar este margen según sea necesario */
      }
    
      .nueva-columna {
        flex-basis: 200%;
        margin-bottom: 20px;
        width: 100%;
      }
       /* Estilos para la sección con imagen de fondo y texto centrado */
       .background-image img {
        height: 100%;
      }
      .overlay {
        position: absolute;
        top: 50%;
      }
      .overlay h2 {
        font-size: 35px;       
      }
      
      .overlay p {
        font-size: 20px;
        color: white;
        text-align: justify;
      }
      
      .overlay button {
        padding: 10px 20px;
        font-size: 25px;
        background-color: red;
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 50px;
      }

      /*maps y texto*/
      .fondo-gris{
        padding-top: 10%;
      }
      .titulo-maps{
        margin-top: 50px;
      }
      .two-sections {
        flex-direction: column; /* Cambia la dirección del flex container a columna en pantallas pequeñas */
      }
    
      .map-section,
      .text-section {
        width: 100%; /* Asegúrate de que ambas secciones ocupen el 100% del ancho en pantallas pequeñas */
        margin-left: 15px;
      }
      /*carrusel*/

      .image-carousel button{
        padding: 15px 50px;
        color: transparent;
      }
      .slick-prev:before, .slick-next:before{
        color: transparent !important;
      }
      /* Preguntas plegables */
.faq-container {    
  max-width: 95%; /* Cambiado de 800px a 80% */
}
details summary {  
  font-size: 25px; 
}

details p {  
  font-size: 15px;
}

      /*formulario*/
      /* Estilos para el formulario */
    .formulario-container {      
        width: 65%;       
      }
      .formulario-container button {
        padding: 15px 20px;        
      }
      .checkbox-container label {
        margin-right: 0;
        white-space: normal;
      }
       /*footer*/
    .container-footer {
      flex-direction: column; /* Cambiar la dirección del flujo a columna */
      align-items: center; /* Centrar los elementos en la columna */
  }

  }