body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../img/fondo-hosting.png');    
    background-size: cover; 
    background-position: center;
    height: 100vh;
  }
  body::-webkit-scrollbar{
    background-color: red;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #747577;
  }
    
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
     
  .logo-container img {
    width: 276px;
  }
    
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
  }
    
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
    
    
  
  .menu-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 600px; /* Ajusta el margen derecho según sea necesario */
    }
    
  .menu-options a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
      transition: background-color 0.3s ease;
    margin-right: 50px;
  }
    
    .menu-options a:hover {
      background-color: orange;
      text-decoration: underline;
    }   
    
    /* Agregamos estilos para el submenú */
    .services-menu {
      position: relative;
    }
    
    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: -50%;
      background-color: #333;
      width: 300px;
      white-space: nowrap;
    }
    
    .services-menu:hover .submenu {
      display: flex;
      flex-direction: column;
    }
    
    .submenu a {
      padding: 10px;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
      border-bottom: 2px solid white;
    }
    
    .submenu a:hover {
      background-color: #555;
    }
    
    /* Evita que el submenú se oculte cuando el cursor está sobre él */
    .submenu:hover {
      display: flex;
    }
    
    
    .menu-options a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      transition: background-color 0.3s ease;
      font-size: 20px;
    }
    
    .menu-options a:hover {
      background-color: orange;
      text-decoration: underline;
    }
    .active {
      background-color:red;
    }
    .submenu-indicator{
      color:white;
    }
    .img-container {
      position: relative;
      z-index: -1;
    }
    /*whaapp*/
    .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }
    
    .whatsapp-icon img {
      width: 80px;
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }
    .whatsapp-icon img:hover {
      transform: scale(1.1);
    }


    /*hosting*/
    /* Agrega estos estilos a tu CSS */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-section {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  }
  
  .right-section {
    width: 40%; /* Ajusta según sea necesario */
  }
  
  .main-content h2 {
    color: white; /* Ajusta el color del texto según sea necesario */
    font-size: 350%;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), /* Rojo claro con transparencia */
               0 0 20px rgba(255, 0, 0, 0.5),
               0 0 30px rgba(255, 0, 0, 0.5),
               0 0 40px rgba(255, 0, 0, 0.5),
               0 0 70px rgba(255, 0, 0, 0.5),
               0 0 80px rgba(255, 0, 0, 0.5),
               0 0 100px rgba(255, 0, 0, 0.5),
               0 0 150px rgba(255, 0, 0, 0.5);
  }
  
  .main-content p{
    color: white;
    text-align: center;
    padding: 0 200PX 0 200PX;
    text-align: justify;
    font-size: 125%;
  }
  .main-content-button{
    background-color: red;
    color: white;
    font-size: 200%;
    width: 30%;
    height: 10%;
    border-radius: 50px;
    cursor: pointer;
  }
  .main-content-button:hover{
    background-color: #747577;
    font-size: 220%;
  }
  .main-content-button a{
    color: white;
    text-decoration: none;
  }
  
  
  .whatsapp-button {
    display: inline-block;
    padding: 30px 60px;
    background-color: red ; /* #4CAF50 Ajusta el color del botón según sea necesario */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border-radius: 50px;
  }
  
  .whatsapp-button:hover {
    background-color: #45a049; /* Ajusta el color del botón al pasar el ratón según sea necesario */
  }
  
  .right-section img {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade sombra a la imagen */
  }
  .puntos::before {
    content: "\2713"; /* Unicode para la marca de verificación */
    color: green; /* Color verde */
    margin-right: 10px; /* Espacio entre la marca de verificación y el texto */
    font-size: 40px;
  }
  .titulo2{
    text-align: center;
    font-size: 150%;
  }
  .titulo3{
    text-align: center;
    font-size: 350%;
  }
  .gray{
    color: #747577;
  }
  .red{
    color: red;
  }
  .servicio-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
  }
  
  .servicio-text {
    width: 60%; /* Ajusta el ancho del texto según sea necesario */
    font-size: 22px;
    padding: 0 100px;
    text-align: justify;
  }
  
  .servicio-imagen img {
    width: 850px; /* La imagen ocupa el 100% del contenedor */
    height: 550px; /* Mantiene la proporción original de la imagen */
    border-radius: 500px 10px 10px 50px; /* Añade bordes redondeados si lo deseas */
  }
  .servicio-text a {
    text-decoration: none;
  }
  .servicio-text button {   
    background-color: red;
    font-size: 25px;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    color: white;
    cursor: pointer;
  }
  .servicio-text button:hover{
    background-color: #747577;
    font-size: 28px;
  }
  .fondo-gray{
    background-color: #F3F3F3;
  }
  .fondo-white{
    background-color: #d3d3d3;
  }
  /*Formulario*/
.background-image {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% del viewport height */
    overflow: hidden;
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
  .blanco{
    color: white;
  }
  
  /* Estilos para el formulario */
  .formulario-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo blanco semi-transparente */
    padding: 30px;
    border-radius: 50px;
    z-index: 1; /* Asegura que esté sobre la imagen de fondo */
  }
  .formulario-container h2{
    font-size: 35px;
  }
  
  .formulario-container label {
    display: block;
    margin: 15px 0;
  }
  
  .formulario-container input,
  .formulario-container select,
  .formulario-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .formulario-container button {
    padding: 15px 200px;
    font-size: 20px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
  }
  
  .formulario-container button:hover {
    background-color: #747577;
  }
  
  /* Modificación para el posicionamiento del texto y el checkbox */
  .checkbox-container {
    text-align: left;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  .checkbox-container label {
    color: white; /* Color blanco para el texto */
    margin-right: 800px; /* Ajuste del margen derecho para acercar el texto al checkbox */
    white-space: nowrap;
  }
  
  /*fotter*/

.fondo-fotter{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 50px;           
  }
  
  /* Estilo del contenedor principal */
  .container-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Estilo de cada columna */
  .column-footer {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .pie {
    text-align: center;
  }
  
  /* Estilo para los íconos */
  .iconos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .icono {
    font-size: 50px;
    margin: 0 10px;
    color: white;
  }
  .column-footer a {
  text-decoration: none; /* Quitar la línea de abajo */
  color: white; /* Cambiar el color del texto a blanco */
  }

  @media screen and (max-width: 768px) {
      .menu-toggle {
        display: flex;
  }
    
      .menu-options {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        margin-top: 40px;
      }
    
      .menu-options a {
        margin: 0;
      }
      .video-text p {
          font-size: 20px;
          margin: 0;
        }
    
      .menu-options.active {
        display: flex;
        border-top: 1px solid white;
      }
    
      .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
    
      .menu-toggle.active span:nth-child(2) {
        opacity: 0;
      }
    
      .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
      .columns-container {
        flex-direction: column;
      }
    
      .column {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0; /* Elimina el margen derecho en dispositivos pequeños */
      }
    
      .separator {
        width: 100%;
        margin: 10px 0; /* Espaciado arriba y abajo de la línea punteada en dispositivos pequeños */
        border: 3px dashed red; /* Cambiar a línea punteada de color rojo en dispositivos pequeños */
      }
      .columna {
        flex-basis: 100%;
      }
      .main-content {
        flex-direction: column; /* Cambia la dirección del contenedor a columna */
      }
    
      .left-section {
        width: 100%; /* Ocupa el 100% del ancho del contenedor */
      }
    
      .right-section {
        width: 100%; /* Ocupa el 100% del ancho del contenedor */
        margin-top: 20px; /* Agrega un margen superior para separar las secciones */
      }
    
      .whatsapp-button {
        margin: auto; /* Centra el botón horizontalmente */
      }
      /*banner con texto*/
      .main-content p, .main-content li {       
        padding: 0;        
      }
      .main-content button{       
        width: 70%;      
      }
      .servicio-info {
        flex-direction: column; /* Cambia la dirección del contenedor flex a columna */
        text-align: center; /* Centra el contenido en la pantalla pequeña */
    }

    .servicio-text {
        width: 80%; /* Ajusta el ancho del texto al 80% del contenedor */
        padding: 0; /* Elimina el relleno en los lados para ocupar el ancho especificado */
        margin: 0 auto 20px auto; /* Centra el texto horizontalmente y agrega un margen inferior */
    }

    .servicio-imagen img {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% */
        height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
        border-radius: 500px 10px 10px 50px;
    }
     /*formulario*/
      /* Estilos para el formulario */
      .formulario-container {      
        width: 65%;       
      }
      .formulario-container button {
        padding: 15px 20px;        
      }
      .checkbox-container label {
        margin-right: 0;
        white-space: normal;
      }
      /*footer*/
    .container-footer {
        flex-direction: column; /* Cambiar la dirección del flujo a columna */
        align-items: center; /* Centrar los elementos en la columna */
    }
  
  }